.list-view {
    display: block;
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
}

.list-view tr
{
    border: 2px solid #fde;
    text-align: left;
}
.list-view td {
    padding: 0.5em;
}

.row-blue
{
    background: #4cbbe6;
    border: 2px solid #CCCCCC;
}

.row-blue:hover, .row-blue.hover
{
    background: #d1d1d1;
}


.row-green
{
    background: #dbea85;
    border: 2px solid #CCCCCC;
}

.row-green:hover, .row-green.hover
{
    background: #d1d1d1;
}

.row-orange
{
    background: #f2bf55;
    border: 2px solid #CCCCCC;
}

.row-orange:hover, .row-orange.hover
{
    background: #d1d1d1;
}

.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:300px;
    display:none;
    color:#fff;
    text-align: center;
    font-size:11px;
    font-weight: bold;
}
