.list-view {
    padding: 0px;
    margin: 0px;
}
.list-view ul {
    margin: 0px;
    padding: 0px;
}
.list-view li {
    list-style: none;
    background-color: white;
}
.list-view li.project {
    padding-right: 10px;
    padding-left: 10px;
}
.list-view h3.base_bgcolor {
    color: white;
    font-weight: normal;
    padding-left: 10px;
    margin-top: 0.5em;
}
.list-view li.project:hover, .list-view li.hover {
    background-color: #DDDDDD;
}
