.span_left {
    width: 450px;
    background-color: #f2f2f2;
}
.span_right {
    left: 450px;
}

ul.breadcrumb {
    margin-bottom: 10px;
    margin-top: 0px;
}
.list-view {
    padding: 0px;
    margin: 0px;
}
.list-view ul.project {
    margin: 0px;
    padding: 0px;
}
.list-view li.project {
    list-style: none;
    background-color: white;
}
.list-view li.project p {
    padding-right: 10px;
    padding-left: 42px;
}
.list-view .project h3 {
    color: white;
    padding: 4px;
    padding-left: 37px !important;
    margin-top: 0.5em;
}

.list-view li.project:hover, .list-view li.project.hover {
    background-color: #DDDDDD;
}
.begin a {
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
} 
.begin a:hover {
  text-decoration: underline;
}
.begin {
  display: inline-block;
  padding: 10px;
  box-shadow: 0 0 3px 3px #dad5d5;
  border-radius: 4px;
  margin: 0px 0px 10px 42px;
} 


/*
mobiles and below
*/
@media (max-width:480px) {
    .list-view .project h3 {
        padding-left: 10px !important;
    }
}
