#divContainer {
    width: 100%;
    height: 100%;
}
#divHeader {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
	/* Jarvenpaa color*/
 /*   background-color: #6699cc;*/
	/*vaasa color*/
	background-color: #e8ae6a;
    height: 56px;
    margin-left: 306px;
}
#divContentArea {
    position: absolute;
    left: 0px;
    top: 56px;
    right: 0px;
    bottom: 40px;
}
#divContentLeft {
    position: absolute;
    top: -56px;
    left: 0px;
    bottom: 0px;
    width: 370px;
    background: url('../images/corner-up.png') no-repeat right top;
}
#divContentRight {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 368px;
    border-left-style: outset;
    border-width: 1px;
}
#divFooter {
    position: absolute;
    height: 96px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#left_bottom{
	/*jarvenpaa backgrond */
    /*background: url("../images/corner-down.png") no-repeat scroll left bottom #6699CC;*/
	
	/*vaasa backgrond */
    background: url("../images/corner-down.png") no-repeat scroll left bottom #E8AE6A;
	
    float: left;
    height: 56px;
    width: 64px;
}

#footer{
	/* Jarvenpaa color*/
    /*background-color: #6699cc; */
	/*vaasa color*/
	 background-color: #e8ae6a;
    float: left;
    height: 40px;
    width: 100%;
}

#map {
    /*height: 100%;*/
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.olMapViewport{
    position: absolute !important;
    top:0 !important;
    bottom:0 !important;
    left:0 !important;
    right:0 !important;
}

html{
    font-size: 12px;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    overflow: hidden;
}

#languages{
    margin-left: 70px;
    padding: 7px 0;
    
}

#pehmoGisLogo{
    background: url('../images/pehmogis-logo.png') no-repeat;
    display: block;
    height: 22px;
    width: 82px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

#jarvenpaaLogo{
    /*background: url('../images/jarvenpaa-logo.jpg') no-repeat;*/
    display: block;
    width: 182px;
    height: 42px;
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}

.city{
	/* jarvenpaa color*/
	/*color: #6699CC; */
	color: #e8ae6a;
	font-family: sans-serif;
	font-size: 2.5em;
	clear: right;
	float: left;	
}
.blurb{
	font-family: sans-serif;
	font-size: 0.9em;
	color: #C0C0C0;
	float: left;
}

#logo{
    position: absolute;
    width: 315px;
    height: 50px;
    float: left;
    clear: both;
    background-color: white;
    
}

#left_main{
    position: absolute;
    left: 0px;
    top: 60px;
    right: 0px;
    bottom: 54px;
    width: 370px;
    float: left;
    clear: both;
    background-color: white;
    overflow-y: auto;
}

.link{
    color: white;
    font-size: 12px;
}

.floatleft{
    float: left;
}

.floatright{
    float: right;
}

.clearboth{
    clear: both;
}

.help{
 background: url("../images/icons.png") no-repeat scroll -5px -34px transparent;
    color: white;
    margin-top: 5px;
    padding-left: 23px;
}

.login_submit{
    background: url("../images/icons.png") no-repeat scroll -3px -6px transparent;
    border: 0 none;
    height: 22px;
    margin: 0;
    padding: 0;
    width: 21px;
    cursor: pointer;
}

#login{
    margin-right: 30px;
    margin-top: 7px;
}

#uderlogin{
    margin-top: 3px;
    margin-left: 3px;
}


.input_login{overflow:scroll;
    width: 170px;
    border: 0px;
    color: #b6b6b6;
}

#lostpasslink{
    margin-left: 30px;
}

#footerlinks{
    margin-top: 11px;
    color: white;
}

#footerlinks label{
    float: right;
    margin-right: 20px;
}

.contactlink{
    background: url("../images/icons.png") no-repeat scroll -2px -59px transparent;
    color: white;
    margin-top: 5px;
    padding-left: 23px;
    margin-left: 20px;
}

.feedbacklink{
    background: url("../images/icons.png") no-repeat scroll -1px -82px transparent;
    color: white;
    margin-top: 5px;
    padding-left: 23px;
    margin-left: 20px;
}



/* Login, and registration form */
.loginbox {
    float: left;
    width: 400px;
    height: auto;
    border: 1px solid black;
    position: relative;
    top: 70px;
    left: 40px;
     padding: 30px;
}
.loginbox h1 {
    background: #6699CC;
    font-size: 110%;
    padding: 5px;
    text-align: center;
	color: white;
}
.loginbox form {
    padding: 10px;
}
.loginbox table td {
    padding: 2px;
}

.loginbox table th label{
    display: block;
    text-align: left;
    width: 160px;
}
.loginbox table th{
    vertical-align: top;
}

/*   login and registration validation */
#register-form label.error,
#login-form label.error,
#forgot-password-form label.error,
#form-password-change label.error{
    clear: left;
    float: left;
    margin-top: 3px;
    margin-left: 5px;
    color: #FF6600;
	width: 180px;
}
#register-table td{
    padding-top: 5px;
}

#register-form input[type="text"],
#register-form input[type="password"],
#login-form input[type="text"],
#login-form input[type="password"],
#forgot-password-form input[type="text"],
#form-password-change input[type="password"] {
    float:left;
    margin-left: 5px;
    height: 25px;
    border: 1px solid #C0C0C0;
    width: 180px;
}
#register-form input.error,
#login-form input.error,
#forgot-password-form input.error,
#form-password-change input.error{
    color: black;
    background-image: url("../images/input_feedback.png");
    background-position: 100% -325px !important;
    background-repeat: no-repeat;
    border: 1px solid #FF6600;
    background-color: #FFEAC8;
    font-size: 14px;
    height: 25px;
	width: 180px;
}

#forgot-password-form input[type="submit"]{
    /*float:left;
    clear: both;*/
    margin-top: 10px;
}

#forgot-password-form span{
    float: left;
    line-height: 25px;
}

#forgot-password-form label.error{
    float: left;
}

.error{
	color: #FF6600;
}
.td_err{
	margin-left: 5px;
	float: left;
}
a.reset {
    color: #005CB9 !important;
    text-decoration: none;
}

#feedback_window, #help_window{
    position: absolute;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.menu{
	margin-left: 40px;
}

/* popup */
div#popup {
position: absolute;
width: 680px;
left: 50%;
margin-left: -190px;
top: 70px;
height: auto;
background-color: white;
z-index: 20;
}

div#popup .corner {
position: absolute;
width: 11px;
height: 11px;
background-repeat: no-repeat;
}

div#popup .top-left {
top: -11px;
left: -11px;
background-image: url("../images/top-left-corner.png");
}
div#popup .top-right {
top: -11px;
right: -11px;
background-image: url("../images/top-right-corner.png");
}
div#popup .bottom-right {
bottom: -11px;
right: -11px;
background-image: url("../images/bottom-right-corner.png");
}
div#popup .bottom-left {
bottom: -11px;
left: -11px;
background-image: url("../images/bottom-left-corner.png");
}
div#popup .border {
position: absolute;
}
div#popup .border.top-border {
background-image: url("../images/top-border.png");
background-repeat: repeat-x;
top: -11px;
width: 100%;
height: 11px;
}
div#popup .border.right-border {
background-image: url("../images/right-border.png");
background-repeat: repeat-y;
right: -11px;
height: 100%;
width: 11px;
}
div#popup .border.bottom-border {
background-image: url("../images/bottom-border.png");
background-repeat: repeat-x;
bottom: -11px;
width: 100%;
height: 11px;
}
div#popup .border.left-border {
background-image: url("../images/left-border.png");
background-repeat: repeat-y;
left: -11px;
height: 100%;
width: 11px;
}
div#popup .close {
position: absolute;
top: 0px;
right: 0px;
color: #505050;
cursor: pointer;
z-index: 21;
}
div#popup .close:hover {
color: black;
}

/* general */
.hidden {
visibility: hidden;
display: none;
height: 0px;
}

.visible {
visibility: inherit;
}

/* general red button */
.button {
display: inline-block;
height: 23px;
background-image: url("../images/red-button-middle.png");
background-repeat: repeat-x;
overflow: visible;
cursor: pointer;
width: 179px;
white-space: nowrap;
margin-left: 7px;
margin-right: 14px;
margin-top: 2px;
color: white;
}
.button .left-border {
display: inline-block;
position: relative;
height: 23px;
width: 7px;
right: 7px;
background-image: url("../images/red-button-left.png");
background-repeat: no-repeat;
}
.button .text {
display: inline-block;
position: relative;
bottom: 6px;
width: 150px;
text-align: center;
}
.button .text:hover {
opacity: 0.7;
}
.button .right-border-w-arrow {
display: inline-block;
position: relative;
height: 23px;
width: 14px;
left: 14px;
/*right: 8px;*/
background-image: url("../images/red-button-right-w-arrow.png");
background-repeat: no-repeat;
}
.button .right-border {
display: inline-block;
position: relative;
height: 23px;
width: 14px;
left: 10px;
/*right: 8px;*/
background-image: url("../images/red-button-right.png");
background-repeat: no-repeat;
background-position: 4px 0;
}