{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>{% block title %}{% endblock title %}</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/main_theme.css" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.gif" type="image/x-icon" />
	{% block stylesheet %}
	{% endblock %}
       
    </head>
    <body class="tundra">
	
	<div id="divContainer">
	    <div id="divHeader">
					<!-- header div strip -->
					
		{% block header %}
                    {% include "header.html" %}
                {% endblock header %}
	    </div>
	    <div id="divContentArea">	
		<div id="divContentLeft">
		    			<div id="logo">
						 <div id="pehmoGisLogo">
						 </div>	
						 <div id="jarvenpaaLogo">
							<span class="city">
								{% trans "Vaasa" %}
							</span>
							<span class="blurb">
								{% trans "Vaikuta kaupunkisi kehitykseen" %} 
							</span>
						 </div>	
					</div>
					
					<!-- display questions and other info -->
					<div id="left_main">
					    {% block left_side %}
					    {% endblock %}
					</div>
		</div>
		<div id="divContentRight">
		    	{% block main_side %}
			{% endblock %}
		</div>
	    </div>
	    <div id="divFooter">
		    <div id="left_bottom">
		    </div>
		    
		    <div id="footer">
			<div id="footerlinks">
                                <a href="../commons/feedback" id="feedback_link" target="_blank" class="link feedbacklink">{% trans "Anna palautetta sivustosta" %}</a>
				<label class="labelfooter">{% trans "Vaasan kaupunki" %}  {% now "Y" %}</label>
			</div>	
		    </div>
	    </div>
	</div>

	   
	   {% block javascript %}
               	<script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-1.6.1.min.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.validate.min.js"></script>
                <!-- google analytics snippet -->
                <script type="text/javascript">
                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-17683722-1']);
                    _gaq.push(['_trackPageview']);
                
                    (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
                </script>
	   {% endblock javascript %}
    </body>
</html>
