{% extends "base_map.html" %}

{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/dashboard.css" />
    <!--
{{ QU_projects }}
-->
{% endblock %}

{% block content %}

<ul class="list-view">
{% comment %}
<!-- This is for ajax version -->    
    <li class="questionnaires hidden">

        <ul class="breadcrumb">
            <li class="disk base_bgcolor">
                <h3>
                    {% trans "Questionnaires" %}
                </h3>
            </li>
            <li class="separator base_bgcolor"></li>
        </ul>

        <ul class="questionnaire project">
        </ul>
    </li>
{% endcomment %}
{% for p in QU_projects %}
    {% if forloop.first %}
    <li>

        <ul class="breadcrumb">
            <li class="disk base_bgcolor">
                <h3>
                    {% trans "Questionnaires" %}
                </h3>
            </li>
            <li class="separator base_bgcolor"></li>
        </ul>

        <ul class="project">
    {% endif %}
            <li id="QU_{{ p.area.id }}" class="project">
                <h3 class="base_bgcolor">{{ p.name }}</h3>
                <p>{{ p.description }}
                <a href="{{ p.project_url }}">{% trans "Go to the application.." %}</a>
                </p>
            </li>

    {% if forloop.last %}
        </ul>
    </li>
    {% endif %}
{% endfor %}
{% for p in IC_projects %}
    {% if forloop.first %}
    <li>

        <ul class="breadcrumb">
            <li class="disk base_bgcolor">
                <h3>
                    {% trans "Idea competitions" %}
                </h3>
            </li>
            <li class="separator base_bgcolor"></li>
        </ul>

        <ul class="project">
    {% endif %}
            <li id="IC_{{ p.id }}" class="project">
                <h3 class="base_bgcolor">{{ p.title }}</h3>
                <p>{{ p.description }}
                <a href="{{ p.project_url }}">{% trans "Go to the application.." %}</a>
                </p>
            </li>

    {% if forloop.last %}
        </ul>
    </li>
    {% endif %}
{% endfor %}
{% for p in PP_projects %}
    {% if forloop.first %}
    <li>

        <ul class="breadcrumb">
            <li class="disk base_bgcolor">
                <h3>
                    {% trans "Planning projects" %}
                </h3>
            </li>
            <li class="separator base_bgcolor"></li>
        </ul>

        <ul class="project">
    {% endif %}
            <li id="PP_{{ p.area.id }}" class="project">
                <h3 class="base_bgcolor">{{ p.name }}</h3>
                <p>{{ p.description }}
                <a href="{{ p.project_url }}">{% trans "Go to the application.." %}</a>
                </p>
            </li>

    {% if forloop.last %}
        </ul>
    </li>
    {% endif %}
{% endfor %}
</ul>

{% endblock content %}


{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}json/pointer_geoJSON.js"></script>
<script src="{{ STATIC_URL }}js/libs/proj4js-gnt.js"></script>
<script src="{{ STATIC_URL }}js/libs/OpenLayers-gnt.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
var city_polygon = {
    'type': 'Feature',
    'properties': {},
    'geometry': {{ org_settings.service_area.json|safe }},
    'crs': {
        'type': 'name',
        'properties': {
            'code': 'EPSG:{{ org_settings.service_area.srid|safe }}'
        }
    }
    };

var projects_QU = {
    'type': 'FeatureCollection',
    'features': []
    };

var projects_IC = {
    'type': 'FeatureCollection',
    'features': []
    };

var projects_PP = {
    'type': 'FeatureCollection',
    'features': []
    };

{% for p in QU_projects %}
projects_QU.features.push(
    {
    "type": "Feature",
    "id":"QU_{{ p.area.id }}",
    "properties": {
        "url": "{{ p.project_url }}",
        "title": "{{ p.name }}" },
    "geometry": {
        "type": "{{ p.area.geometry.type }}",
        "coordinates": {{ p.area.geometry.coordinates|safe }}
    }
    });
{% if forloop.first %}
projects_QU['crs'] = {
    "type": "name",
    "properties": {
        "code": "{{ p.area.crs.properties.code|safe }}"
    }
};
{% endif %}
{% endfor %}

{% for p in IC_projects %}
projects_IC.features.push(
    {
    "type": "Feature",
    "id":"IC_{{ p.area.id }}",
    "properties": {
        "url": "{{ p.project_url }}",
        "title": "{{ p.name }}" },
    "geometry": {
        "type": "{{ p.area.geometry.type }}",
        "coordinates": {{ p.area.geometry.coordinates|safe }}
    }
    });
{% if forloop.first %}
projects_IC['crs'] = {
    "type": "name",
    "properties": {
        "code": "{{ p.area.crs.properties.code|safe }}"
    }
};
{% endif %}
{% endfor %}

{% for p in PP_projects %}
projects_PP.features.push(
    {
    "type": "Feature",
    "id":"PP_{{ p.area.id }}",
    "properties": {
        "url": "{{ p.project_url }}",
        "title": "{{ p.name }}" },
    "geometry": {
        "type": "{{ p.area.geometry.type }}",
        "coordinates": {{ p.area.geometry.coordinates|safe }}
    }
    });
{% if forloop.first %}
projects_PP['crs'] = {
    "type": "name",
    "properties": {
        "code": "{{ p.area.crs.properties.code|safe }}"
    }
};
{% endif %}
{% endfor %}

$(window).load(function() {
    gnt.dashboard.init();
});

var gnt = {};
</script>
<script type="text/javascript" src="{% url map_js map_slug_name='dashboard' %}"></script>
<script type="text/javascript" src="{% url dashboard_js %}"></script>
{% endblock javascript %}

