{% extends "base_map.html" %}

{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL }}styles/dashboard.css" />
{% endblock stylesheet %}

{% block content %}
<table class="list-view">
{% for p in project_setting %}
    {% if p.project_type = 'QU' %}
    <tr>
        <td id="project_{{ p.id }}" class="row-blue">
            <h3>{{ p.title }}</h3>
            <p>{{ p.description }}</p>
            <a href="{{ p.project_url }}">{% trans "Go to the application.." %}</a>
        </td>
    </tr>
    {% else %}
    {% if p.project_type = 'IC' %}
    <tr>
        <td id="project_{{ p.id }}" class="row-orange">
            <h3>{{ p.title }}</h3>
            <p>{{ p.description }}</p>
            <a href="{{ p.project_url }}">{% trans "Go to the application.." %}</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td id="project_{{ p.id }}" class="row-green">
            <h3>{{ p.title }}</h3>
            <p>{{ p.description }}</p>
            <a href="{{ p.project_url }}">{% trans "Go to the application.." %}</a>
        </td>
    </tr>
    {% endif %}
{% endif %}
{% endfor %}
</table>
{% endblock content %}


{% block javascript %}
<script type="text/javascript" src="{{STATIC_URL}}json/pointer_geoJSON.js"></script>
<script src="https://softgis.org.aalto.fi/OpenLayers/OpenLayers.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% url dashboard_js %}"></script>
<script type="text/javascript">

    $(window).load(function() {
        init();
    });
</script>
{% endblock javascript %}

