{% extends "base_map.html" %}

{% load i18n %}

{% block title %}
Järvenpää - pehmoGIS
{% endblock %}

{% block bgcolor %}
#0051BA
{% endblock %}

{% block textcolor %}
#0051BA
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL }}styles/home_theme.css" />
{% endblock stylesheet %}

{% block city_name %}
Järvenpää
{% endblock %}

{% block content %}
<table class="list-view">
{% for p in project_setting %}
{% if p.project_type = 'QU' %}
<tr>
    <td id="row-blue" class="{{ forloop.counter }}">    
		<h3>{{p.title}}</h3>
		<p>{{p.description}}</p>
		<a class="{{ forloop.counter }}" href="{{p.project_url}}">{% trans "Siirry sovellukseen.." %}</a>
	</td>
</tr>
{% else %}
{% if p.project_type = 'IC' %}
<tr>
    <td id="row-orange" class="{{ forloop.counter }}">
	    <h3>{{p.title}}</h3>
	    <p>{{p.description}}</p>
	    <a class="{{ forloop.counter }}" href="{{p.project_url}}">{% trans "Siirry sovellukseen.." %}</a>
	</td>
</tr>
{% else %}
<tr>
    <td id="row-green" class="{{ forloop.counter }}">
        <h3>{{p.title}}</h3>
        <p>{{p.description}}</p>
        <a class="{{ forloop.counter }}" href="{{p.project_url}}">{% trans "Siirry sovellukseen.." %}</a>
    </td>
</tr>
{% endif %}
{% endif %}
{% endfor %}
</table>
{% endblock content %}

{% block provider_url %}
http://www.jarvenpaa.fi/
{% endblock %}

{% block provider_name %}
Järvenpään kaupunki
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{{STATIC_URL}}json/pointer_geoJSON.js"></script>
<script src="https://softgis.org.aalto.fi/OpenLayers/OpenLayers.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% url dashboard_js %}"></script>
<script type="text/javascript">
    $(window).load(function() {
        init();
    });
</script>
{% endblock javascript %}

