{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% trans "anna palautetta - Vaasan palvelusta" %}
        </title>
    </head>
    <body>
        <form name="feedback-form" action="{% url feedback_form %}" method="post">
            
            <h1>{% trans "Palautetta" %}</h1>
            
            <p>
            {% trans "Alla olevaan laatikkoon voitte antaa palautetta verkkopalvelusta." %}
            </p>
            {% csrf_token %}           
            {{ form.content }}
            <br />
            <input type="submit" name="submit" value="{% trans "Lähetä palaute" %}" />
        </form>
    </body>
</html>
